<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tarea_1_Peticion_HTTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE34CA641CCD4C0C001D6017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE34CA7B1CCD4C0D001D6017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE34CA861CCD4C0E001D6017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
